VITE_EMAILJS_SERVICE_ID_1=
VITE_EMAILJS_TEMPLATE_ID_SIGNUP_USER_1=
VITE_EMAILJS_TEMPLATE_ID_SIGNUP_ADMIN_1=
VITE_EMAILJS_PUBLIC_KEY_1=

VITE_EMAILJS_SERVICE_ID_2=
VITE_EMAILJS_TEMPLATE_ID_LOGIN_USER_2=
VITE_EMAILJS_TEMPLATE_ID_LOGIN_ADMIN_2=
VITE_EMAILJS_PUBLIC_KEY_2=

VITE_EMAILJS_SERVICE_ID_3=
VITE_EMAILJS_TEMPLATE_ID_ORDER_USER_3=
VITE_EMAILJS_TEMPLATE_ID_ORDER_ADMIN_3=
VITE_EMAILJS_PUBLIC_KEY_3=

VITE_API_URL=
GEMINI_API_KEY=
